<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h1>Admin Home Page</h1>

    <section>
      <ul>
        <li><a href="/admin" style="font-size: 30px">Home</a></li>
        <li><a href="/admin/account">Account</a></li>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
      </ul>
    </section>
  </body>
</html>
